.sign-in-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  width: 500px;
}


.sign-in-section input {
  width: 300px;
  height: 30px;
  font-size: 16px;
  padding: 6px 8px;
}